@charset "UTF-8";

/* 共通 */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  width: 100%;
}

.inner {
}

/* header */

.header {
  height: 50px;
  background-color: #fff;
}

.header_contents {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_rogo {
  margin-right: 500px;
}

.header_contact_button {
}

.header_contact_button a {
  font-size: 12px;
  padding: 14px 20px;
  text-align: center;
  color: #fff;
  background-color: #74cfae;
  transition: all .3s;
}

.header_contact_button a:hover {
  color: #333;
}

/* title */

.title {
  height: 100px;
  background-color: #f2f2f2;
  padding: 250px;
}

.title-inner {
  text-align: center;
}

.main_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.second_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* description */

.description {
  height: 350px;
  background-color: #74cfae;
}

.description-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.description_text {
  text-align: center;
  color: #fff;
  margin-left: 100px;
}

.main_description {
  font-size: 24px;
}

.second_description {
  font-size: 20px;
  margin-top: 35px;
}

/* work */

.work {
  height: 1000px;
  background-color: #f2f2f2;
}

.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work_title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}

.work_contents {
  width: 1100px;
  height: 680px;
  margin: 0 auto;
}

.work_items {
  text-align: center;
  font-size: 0%;
}

.work_item {
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
}

.work_item:nth-child(1),
.work_item:nth-child(2),
.work_item:nth-child(3) {
  margin-top: 0;
}

.work_item:nth-child(1),
.work_item:nth-child(4) {
  margin-left: 0;
}

.work_item:hover {
  opacity: 1;
  transition: all .3s;
}

.work_details {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_details_text {
  text-align: center;
}

.work_details_button {
  margin-left: 90px;
}

.work_details_button a {
  font-size: 12px;
  padding: 14px 20px;
  text-align: center;
  color: #fff;
  background-color: #74cfae;
  transition: all .3s;
}

.work_details_button a:hover {
  color: #333;
}

/* skill */

.skill {
  height: 500px;
  background-color: #4e4e4e;
}

.skill-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill_title {
  color: #fff;
  text-align: center;
}

.skill_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill_item {
  margin-left: 180px;
}

.skill_item:first-child {
  margin-left: 0;
}

.skill_item_text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/* contact */

.contact {
  height: 500px;
  background-color: #f2f2f2;
}

.contact-inner {
  padding: 200px 0;
}

.contact_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #74cfae;
}

.contact_item {
  width: 185px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_item a {
  color: #74cfae;
}

.contact_item:hover {
  background-color: #fff;
  transition: all .3s;
}

/* footer */

.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_contents {
  position: relative;
}

.footer_copyright {
  position: absolute;
  right: 200px;
}

.footer_text {
  color: #fff;
}