@charset "UTF-8";

/* 共通 */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.body {
  font-family: "lato";
}

.wrapper {
  width: 100%;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.raleway {
  font-family: "raleway";
}

.green_button {
  font-size: 12px;
  padding: 14px 20px;
  text-align: center;
  color: #fff;
  background-color: #74cfae;
  transition: all .3s;
}

.green_button:hover {
  color: #333;
}

/* header */

.header {
  width: 100%;
  z-index: 1;
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
}

.header_inner {
}

.header_rogo {
  font-size: 30px;
  float: left;
}

.header_contact_button {
  float: right;
  box-sizing: border-box;
}

/* hamburger menu */

.ham {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #c0c0c0;
  display: none;
}

.ham_line {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #c0c0c0;
}
.ham_line1 {
  top: 7px;
}
.ham_line2 {
  top: 15px;
}
.ham_line3 {
  top: 23px;
}

/* title */

.title {
  background-color: #f2f2f2;
  padding: 250px;
}

.title-inner {
  text-align: center;
}

.main_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.second_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* description */

.description {
  background-color: #74cfae;
}

.description-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.description_text {
  text-align: center;
  color: #fff;
  margin-left: 100px;
}

.main_description {
  font-size: 24px;
}

.second_description {
  font-size: 20px;
  margin-top: 35px;
}

/* work */

.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work_title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}

.work_contents {
  width: 1100px;
  margin: 0 auto;
}

.work_items {
  text-align: center;
  font-size: 0%;
}

.work_item {
  margin-top: 80px;
  margin-right: 100px;
  opacity: 0.7;
  transition: all .3s;
}

.work_item:nth-child(1),
.work_item:nth-child(2),
.work_item:nth-child(3) {
  margin-top: 0;
}

.work_item:nth-child(3n) {
  margin-right: 0;
}

.work_item:hover {
  opacity: 1;
}

.work_details {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_details_text {
  text-align: center;
}

.work_details_button {
  margin-left: 90px;
}

/* skill */

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill_title {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
}

.skill_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill_item {
  margin-left: 180px;
}

.skill_item:first-child {
  margin-left: 0;
}

.skill_item_text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/* contact */

.contact {
  background-color: #f2f2f2;
}

.contact-inner {
  padding: 200px 0;
}

.contact_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #74cfae;
}

.contact_item {
  width: 185px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  transition: all .3s;
}

.contact_item a {
  color: #74cfae;
}

.contact_item:hover {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_inner {
  position: relative;
}

.footer_copyright {
  position: absolute;
  right: 200px;
}

.footer_text {
  color: #fff;
}


/* メディアクエリ */

/* TAB */

@media screen and (max-width: 1199px) {

/* description箇所の変更（画像、テキストの縦並び） */

  .description-inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  .description_text {
    margin-left: 0;
  }

  .main_description {
    margin-top: 25px;
  }

/* work箇所の変更（画像を縦並び） */

.work_contents {
  width: 300px;
}

.work_item {
  margin-top: 0;
  margin-left: 0;
}

.work_item:nth-child(3n) {
  margin-bottom: 80px;
}

.work_details {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.work_details_text {
  margin-bottom: 40px;
}

.work_details_button {
  margin-left: 0;
}

/* skill箇所の変更（画像を縦並び） */

.skill_title {
  margin-bottom: 0;
}

.skill_contents {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill_item {
  margin-left: 0;
  margin-top: 88px;
}

.skill_item:first-child {
  margin-top: 40px;
}

/* footer */

.footer_copyright {
  right: 20px;
}

}

/* SP */

@media screen and (max-width: 767px) {

/* header対応（contactボタンをhamburger menuへ） */

.header_contents {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

  .header_rogo {
  margin-right: 300px;
}

.header_contact_button {
  display: none;
}

.ham {
  display: block;
}

/* title箇所の変更（テキストの縦並び） */

.title {
  padding-top: 160px;
  padding-bottom: 130px;
}

.title-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.second_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* contact箇所の変更（縦並び） */

.contact-inner {
  padding: 50px 0;
}

.contact_contents {
  display: flex;
  flex-direction: column;
}

.contact_item {
  width: 100%;
}

}


